
.eslintcache
.tern-port
.pixi
.dynamodb/
*.pid
vite.config.ts.timestamp-*
.firebase/
.parcel-cache
.pytest_cache/
dist
web_modules/
db.sqlite3-journal
!.yarn/sdks
.temp
.mypy_cache/
*.pid.lock
build/
**/.vitepress/cache
.ipynb_checkpoints
logs
share/python-wheels/
*.py.cover
.pdm-build/
activemq-data/
.output
wheels/
coverage
rabbitmq-data/
lib/
eggs/
__pycache__/
ipython_config.py
.env.*
instance/
downloads/
.abstra/
.coverage.*
celerybeat-schedule
bower_components
*.pot
yarn-error.log*
.grunt
venv/
*.tsbuildinfo
vite.config.js.timestamp-*
*.cover
.vscode-test
.envrc
*.rdb
nosetests.xml
dist/
.pyre/
**/.vitepress/dist
*.log
*.py[codz]
pids
develop-eggs/
*.sage.py
.nox/
.svelte-kit/
target/
rabbitmq/
.next
.spyproject
ENV/
.yarn/*
.ropeproject
.npm
report.[0-9]*.[0-9]*.[0-9]*.[0-9]*.json
.cache
!.yarn/versions
.tox/
npm-debug.log*
var/
*.lcov
.Python
.nuxt
.docusaurus
.fusebox/
env.bak/
jspm_packages/
.hypothesis/
profile_default/
!.yarn/plugins
dmypy.json
.ruff_cache/
.pypirc
node_modules/
__pypackages__/
.cache/
*.egg
.env
cython_debug/
.yarn-integrity
pip-delete-this-directory.txt
sdist/
docs/_build/
.nyc_output
!.env.example
.eggs/
*.mo
mnesia/
env/
.webassets-cache
marimo/_lsp/
*.tgz
lib-cov
.pdm-python
out
parts/
.spyderproject
!.yarn/patches
coverage.xml
.pytype/
lerna-debug.log*
!.yarn/releases
lib64/
.vuepress/dist
.installed.cfg
.dmypy.json
*.egg-info/
__marimo__/
*.manifest
*.aof
*.seed
.pnp.*
pip-log.txt
.streamlit/secrets.toml
.pybuilder/
venv.bak/
db.sqlite3
build/Release
yarn-debug.log*
*.so
celerybeat.pid
marimo/_static/
.stylelintcache
*$py.class
cover/
htmlcov/
*.spec
.coverage
/site
.lock-wscript
MANIFEST
.serverless/
.scrapy
.venv
local_settings.py
.node_repl_history
apps/_DRIVESET/*
!apps/_DRIVESET/.gitkeep
# REFNOTE: created by technomantic spirit with selective ignorance and artistical resonance of the Saint Mission of Technomancers
# REFNOTE: this file (./.gitignore) was generated by selective_ignorance.sh 2025 by Sett Sarverott (https://gist.github.com/Sarverott/a9933eea3dd0e4fc54e8ff275bd79dcf under terms of CC BY-ND 4.0)
# REFNOTE: based on resources delivered from gitignore repo with templates by Github (https://github.com/github/gitignore under terms of CC0-1.0)
# REFNOTE: content of file have to contain this information REFNOTE to show respect for work of authors that gave opportunity to create this file
# REFNOTE: by casting spell `bash git python,node,php` for https://github.com/Sarverott/setternet.git with  [UNIXUSAT=1756413515329]
# REFNOTE: best regards and with goodluck charm casting
# REFNOTE:    ~Apokryf Institute of Technomantic Research
